@{
    ViewData["Title"] = "Home Page";
    string result = Context.Request.Query["result"];
}
@if (result == "success")
{
    <div class="alert alert-success">
        <p>Giftcard successfully redeemed!</p>
    </div>
}
@if (result == "invalidCode")
{
    <div class="alert alert-danger">
        <p>Code is invalid.</p>
    </div>
}
@if (result == "invalidUser")
{
    <div class="alert alert-danger">
        <p>Please login or create an account.</p>
    </div>
}
@if (result == "error")
{
    <div class="alert alert-danger">
        <p>Error.</p>
    </div>
}

<div class="text-center">

    <script>
        function play() {
            var audio = document.getElementById("vineBoom");
            audio.play();
        }
    </script>
    <audio id="vineBoom">
        <source src="~/sfx/vine-boom.mp3" type="audio/mpeg" />
    </audio>

    <h1 class="display-4">Welcome</h1>
    <a onclick="play()"><p>Welcome to burger burger!</p></a>
</div>


