@model burgerBurger.Models.Inventory
@using burgerBurger.Enums
@{
    ViewData["Title"] = "Create";
}

<h1>New Shipment</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Outline" class="control-label">Ingredient</label>
                <select asp-for="Outline" class="form-control" asp-items="ViewBag.Ingredients"></select>
                <span asp-validation-for="Outline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemDeliveryDate" class="control-label"></label>
                <input asp-for="itemDeliveryDate" class="form-control" />
                <span asp-validation-for="itemDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
