@model IEnumerable<burgerBurger.Models.GiftCard>

@{
    ViewData["Title"] = "Giftcards";
    string result = Context.Request.Query["result"];
}

@if (result == "success")
{
    <div class="alert alert-success">
        <p>Giftcard successfully redeemed!</p>
    </div>
}
@if (result == "invalidCode")
{
    <div class="alert alert-danger">
        <p>Code is invalid.</p>
    </div>
}
@if (result == "invalidUser")
{
    <div class="alert alert-danger">
        <p>Please login or create an account.</p>
    </div>
}
@if (result == "error")
{
    <div class="alert alert-danger">
        <p>Error.</p>
    </div>
}

<h1>Giftcards</h1>
<p><a asp-action="Create">Buy Giftcard</a></p>
<p><a asp-action="Redeem">Redeem Giftcard</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redeemed)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redeemed)
            </td>
        </tr>
}
    </tbody>
</table>
