@model IEnumerable<burgerBurger.Models.GiftCard>

@{
    ViewData["Title"] = "Giftcards";
}

<h1 class="text-white">Giftcards</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.redeemed)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.redeemed)
            </td>
        </tr>
}
    </tbody>
</table>
